<%- comments.each do |comment| %>
  <p>
    <strong>information:</strong>
    <%= comment.content %>
  </p>
  <p>
    <strong>user name:</strong>
    <%= comment.user.nickname %>
  </p>

  <div>
    <%= render partial: "avatar-view", locals: {user: comment.user} %>
  </div>

  <p>
    <strong>コメントした時間:</strong>
    <%= time_ago_in_words(comment.created_at) %>
  </p>

  <%= link_to "削除する", spot_comment_path(comment.spot_id, comment.id), method: :delete %>
<% end %>