<%- comments.each do |comment| %>
  <p>
    <strong>information:</strong>
    <%= comment.content %>
  </p>
  <p>
    <strong>user name:</strong>
    <%= comment.user.nickname %>
  </p>

  <div>
    <% if comment.user.avatar? %>
      <%= image_tag comment.user.avatar.to_s, size: "40x40" %>
    <% else %>
        <%= image_tag asset_path("non-avatar.png"), id: :image_prev, size: "20x30" %>
    <% end %>

  <p>
    <strong>created:</strong>
    <%= l comment.created_at %>
  </p>

  <%= link_to "削除する", spot_comment_path(comment.spot_id, comment.id), method: :delete %>
<% end %>