<%= form_with model: spot, local: true do |f|%>
  <% if spot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spot.errors.count, "error") %> prohibited this map from being saved:</h2>

      <ul>
      <% spot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, maxlength: 25, placeholder: "25文字以内" %>
  </div>
  
  <% if @spot.main_visual? %>
    <div class="field">
      <p>
        現在の画像
        <%= image_tag @spot.main_visual.url, size: "200x300" %>
      </p>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :main_visual %>
    <%= f.file_field :main_visual %>
  </div>

  <div class="field">
    <%= f.label :information %>
    <%= f.text_area :information, rows: 10 %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>