<%= form_with model: spot, local: true do |f|%>

  <%= render partial: "layouts/errors-messages", locals: { model: @spot} %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, maxlength: 25, placeholder: "25文字以内" %>
  </div>
  
  <% if @spot.main_visual? %>
    <div class="field">
      <p>
        現在の画像
        <%= image_tag @spot.main_visual.url, id: "image_prev", size: "200x300" %>
      </p>
    </div>
  <% else %>
    <%= image_tag asset_path("dummy-white.png"),  id: "image_prev", size: "200x300" %>
  <% end %>

  <div class="field">
    <%= f.label :main_visual %>
    <%= f.file_field :main_visual, id: "image_input" %>
  </div>

  <div class="field">
    <%= f.label :information %>
    <%= f.text_area :information, rows: 10 %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>