<div class="index-container">
  <div class="index-container__top">
    <%= render partial: "map-view", locals: {hash: @hash.to_json} %>
  </div>

  <div class="index-container__body">
    <div class="index-container__body--left">
      <div class="spot-lists">
        <h2 class="spot-lists__title">一覧</h2>
        <%- @spots.each do |spot| %>
          <%= link_to spot_path(spot), class: "spot-list", data: {"turbolinks" => false} do %>
            <div>
              <%= image_tag spot.main_visual_url, class: "spot-list__image" %>
            </div>

            <p class="spot-list__user-name">
              ユーザー：
              <%= spot.user.nickname %>
            </p>

            <p class="spot-list__spot-name">
              <%= spot.name %>
            </p>

            <p class="spot-list__created">
              <%= l spot.created_at %>
            </p>
          <% end %>
        <% end %>
        <%= paginate @spots %>
      </div>
    </div>

    <div class="index-container__body--right">
      <div class="spot-likes-ranking">
        <h2 class="spot-likes-ranking__title">いいねランキング</h2>
        <% @spot_ranking.each.with_index(1) do |ranking, i| %>
          <%= link_to spot_path(ranking.id), class: "like-rank" do %>
            <div>
              <%= image_tag ranking.main_visual.url, size: "330x230", class: "like-rank__image" %>
            </div>
            <p class="like-rank__text">第<%= i %>位</p>
            <p class="like-rank__count">
              いいね数：
              <%= ranking.likes.count %>
            </p>
            <p class="like-rank__spot-name">
              スポット名：
              <%= ranking.name %>
            </p>
          <% end %>
        <% end %> 
      </div>
    </div>
  </div>
</div>






