<%= render partial: "map-view", locals: {hash: @hash.to_json} %>

<% @spot_ranking.each do |ranking| %>
<h2>ランキング</h2>
  <%= link_to spot_path(ranking.id) do %>
    <%= image_tag ranking.main_visual.url, size: "20x30" %>
    <%= ranking.name %>
  <% end %>
<% end %>

<p>aaa</p>
<%- @spots.each do |spot| %>
  <%= link_to spot_path(spot), data: {"turbolinks" => false} do %>
    <div>
      <%= image_tag spot.main_visual_url, size: "200x300" %>
    </div>
    <h2>
      <strong>name:</strong>
      <%= spot.name %>
    </h2>
    
    <div>
      <strong>いいね数:</strong>
        <%= spot.liked_users.count %>
    <div>
    

    <p>
      <strong>nickname:</strong>
      <%= spot.user.nickname %>
    </p>
    <p>
      <strong>avatar:</strong>
      <%= render partial: "avatar-view", locals: {user: spot.user} %>
    </p>
    
    <p>
      <strong>created:</strong>
      <%= l spot.created_at %>
    </p>
  <% end %>
  <% if user_signed_in? && current_user.id != spot.user.id %>
    <%= render partial: "like-form",locals: { spot: spot } %>
  <% end %>
<% end %>

