<div class="index-container">
  <div class="index-container__top">
    <%= render partial: "map-view", locals: {hash: @hash.to_json} %>
  </div>
  <div class="index-container__body">

    <div class="index-container__body--left">
      <div class="spot-lits">


        <h2 class="spot-lists__title">一覧</h2>
        <%- @spots.each do |spot| %>
          <%= link_to spot_path(spot), data: {"turbolinks" => false} do %>
            <div>
              <%= image_tag spot.main_visual_url, size: "300x300" %>
            </div>
            <h2>
              <strong>name:</strong>
              <%= spot.name %>
            </h2>
            


            <p>
              <strong>nickname:</strong>
              <%= spot.user.nickname %>
            </p>
            <p>
              <strong>avatar:</strong>
              <%= render partial: "avatar-view", locals: {user: spot.user} %>
            </p>

            <p>
              <strong>created:</strong>
              <%= l spot.created_at %>
            </p>
          <% end %>
          <% if user_signed_in? && current_user.id != spot.user.id %>
            <%= render partial: "like-form",locals: { spot: spot } %>
          <% end %>
        <% end %>
      </div>
    </div>











    <div class="index-container__body--right">
      <div class="spot-likes-ranking">
        <h2 class="spot-likes-ranking__title">いいねランキング</h2>
        <% @spot_ranking.each.with_index(1) do |ranking, i| %>
          <%= link_to spot_path(ranking.id), class: "like-rank" do %>
            <div>
              <%= image_tag ranking.main_visual.url, size: "300x200", class: "like-rank__image" %>
            </div>
            <p class="like-rank__text">第<%= i %>位</p>
            <p class="like-rank__count">
              いいね数：
              <%= ranking.likes.count %>
            </p>
            <p class="like-rank__spot-name">
              スポット名：
              <%= ranking.name %>
            </p>
          <% end %>
        <% end %> 
      </div>
    </div>
  </div>
</div>






