<div class="spot-container">
  <div class="spot-container__box">
    <h2 class="spot-container__box__text">スポット詳細</h2>

    <div class="spot-image">
      <%= image_tag @spot.main_visual_url, class: "spot-image__content" %>
    </div>

    <div class="spot-title">
      <h2 class="spot-title__name">
        <%= @spot.name %>
      </h2>
    </div>
    <% if user_signed_in? %>
      <% if @spot.user.id == current_user.id %>
        <div class="user-spot-btns">
          <%= link_to "編集する", edit_spot_path(@spot), class: "user-spot-btns__btn user-spot-btns__btn--edit" %>
          <%= link_to "削除する", spot_path(@spot), class: "user-spot-btns__btn user-spot-btns__btn--delete",  method: :delete %>
        </div>
      <% end %>
    <% end %>
    
    <div class="spot-likes">
      <div class="spot-likes__count">
        <strong>いいね数：</strong>
        <%= @spot.liked_users.count %>
      </div>

      <% if user_signed_in? && current_user.id != @spot.user.id  %>
        <%= render partial: "like-form", locals: { spot: @spot } %>
      <% end %>
    </div>

    <div class="spot-information">
      <div class="spot-time">
        <h2 class="spot-time__created">
          <%= l @spot.created_at %>
        </p>
      </div>
      
      <%= link_to user_path(@spot.user), class: "spot-user" do %>
          <div class="spot-user__avatar">
            <%= render partial: "avatar-view", locals: {user: @spot.user} %>
          </div>
          <h2 class="spot-user__name"> 
            投稿者:
            <%= @spot.user.nickname %>
          </h2>
      <% end %>
    </div>


    <div class="spot-detail">
      <p>
        <%= simple_format(h(@spot.information)) %>
      </p>
    </div>

    <div class="spot-place">
      <h2 class="spot-place__address">
        <strong>Place：:</strong>
        <%= @spot.address %>
      </h2>

      <div class="spot-place__map">
        <%= render partial: "map-view", locals: {hash: @hash.to_json} %>
      </div>
    </div>

    <div class="spot-comment">
      <h2 class="spot-comment__text">コメント</h2>
      <%= render partial: "comment-view", locals: {comments: @spot.comments} %>
      
      <% if user_signed_in? %>
        <div class="spot-comment__form">
          <%= form_with(model: [@spot, @comment], remote: true) do |f| %>
            <div class="form-box spot-comment__form__box">
              <%= f.text_area :content, class: "acount-field__form", rows: 3, maxlength: 30, placeholder: "30文字以内" %>
            </div>
            <div class="acount-actions">
              <%= f.submit "コメントする", class: "acount-actions__btn" %>
            </div>
          <% end %>
        </div>
      <% end %>
        <p class="non-login-user">
          コメントするには、ログインが必要です
        </p>
    </div>
  </div>
</div>
