<p id="notice"><%= notice %></p>

<div>
  <%= image_tag @spot.main_visual_url, size: "200x300" %>
</div>

<h2>
  <strong>name:</strong>
  <%= @spot.name %>
</h2>

<p>
  <strong>nickname:</strong>
  <%= @spot.user.nickname %>
</p>

<p>
  <strong>created:</strong>
  <%= l @spot.created_at %>
</p>

<p>
  <strong>information:</strong>
  <%= @spot.information %>
</p>

<p>
  <strong>Address:</strong>
  <%= @spot.address %>
</p>

<div id="map-show" style="width: 800px; height: 400px;"></div>

<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map-show'}}, function(){
    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>

<%= render partial: "comment", locals: {comments: @comments} %>


<%= form_with(model: [@spot, @comment], locals: true) do |f| %>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content, rows: 3, maxlength: 30, placeholder: "30文字以内" %>
  </div>
  <%= f.submit %>
<% end %>




<%= link_to "編集する", edit_spot_path(@spot) %>
<%= link_to "削除する", spot_path(@spot), method: :delete %>

<%= link_to "トップページへ", root_path, data: {"turbolinks" => false} %>
