

= form_with model: @user do |f|
  = f.label :avatar 
  = f.file_field :avatar 

  = f.label :nickname 
  = f.text_field :nickname, autofocus: true, autocomplete: "nickname"

  = f.label :introduction
  = f.text_area :introduction, autofocus: true, autocomplete: "introduction" 

  = f.submit "Update"
