<div class="acount-container">
  <div class="acount-container__box">
    <h2 class="acount-container__box__text">プロフィールを編集</h2>

    <% if flash[:alert] %>
      <%= render "shared/flash-messages" %>
    <% end %>

    <%= form_with model: @user do |f| %>
      <div class="form-box">
        <div class="avatar-edit">
          <%= render partial: "spots/avatar-view", locals: {user: @user} %>
          <%= f.label :avatar, class: "avatar-edit__label" %>
          <%= f.file_field :avatar, class: "acount-actions__btn avatar-edit__input", id: "image_input" %>


        </div>

        <div class="acount-field">
          <%= f.label :nickname, class: "acount-field__label" %>
          <%= f.text_field :nickname, class: "acount-field__form", autofocus: true, autocomplete: "nickname", placeholder: "12文字以内です", maxlength: 12 %>
        </div>

        <div class="acount-field">
          <%= f.label :introduction, class: "acount-field__label" %>
          <%= f.text_area :introduction, class: "acount-field__form", autofocus: true, rows: 8,  placeholder: "500文字以内です", maxlength: 500 %>
        </div>

        <div class="acount-actions">
          <%= f.submit "Update", class: "acount-actions__btn"  %>
        </div>
      </div>
    <% end %>
  </div>
</div>

