<%= link_to "プロフィールの編集画面へ", edit_user_path(@user) %>

<%= render partial: "spots/avatar-view", locals: {user: @user} %>

<%= @user.nickname %>
<%= @user.introduction %>

<% if @user_likes.present? %>
  <p>いいねした一覧</p>
  <% @user_likes.each do |like| %>
    <%= link_to spot_path(like) do%>
      <div>
        <div>
          <%= image_tag like.main_visual.url, size: "500x300"%>
        </div>

        <p>
          <strong>スポット名</strong>
          <%= like.name %>
        </p>

        <p>
          <strong>住所</strong>
          <%= like.address %>
        </p>
      </div>
    <% end %>
  <% end %>
<% else %>
  <p>
    いいねをしたスポットはありません
  </p>
<% end %>


