<div class="header-box">
  <div class="header-box__top">
    <h1 class="header-box__top__title">
      <%= link_to "スポッ(ト)フォト", root_path, class: "header-box__top__title__link", data: {"turbolinks" => false} %>
    </h1>
  </div>
  <div class="header-box__bottom">
    <% if user_signed_in? %>
      <nav class="header-nav">
        <%= link_to "スポット登録", new_spot_path, class: "nav-btn" %>
        <%= link_to "マイページ", user_path(current_user), class: "nav-btn" %>
        <%= link_to "登録情報編集", edit_user_registration_path, class: "nav-btn" %>
        <%= link_to "ログアウト", destroy_user_session_path, class: "nav-btn", method: :delete %>
      </nav>
    <% else %>
      <div class="header-nav">
        <%= link_to "ログイン", new_user_session_path, class: "nav-btn" %>
        <%= link_to "新規登録", users_path, class: "nav-btn" %>
      </div>
    <% end %>
  </div>
</div>