<!DOCTYPE html>
<html>
  <head>
    <title>SpoPhoto</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div>
      <%= link_to "ホームへ", root_path, data: {"turbolinks" => false} %>
      <% if user_signed_in? %>
        <div>
          <%= link_to "スポット登録", new_spot_path %>
          <%= link_to "マイページ", user_path(current_user) %>
          <%= link_to "登録情報編集", edit_user_registration_path %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </div>
      <% else %>
        <div>
          <%= link_to "ログイン", new_user_session_path %>
          <%= link_to "新規登録", users_path %>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>