<div class="acount-container">
  <div class="acount-container__box">
    <h2 class="acount-container__box__text">登録情報の編集</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "users/shared/error-messages", resource: resource %>
      <div class="form-box">
        <div class="acount-field">
          <%= f.label :email, class: "acount-field__label" %><br />
          <%= f.email_field :email, class: "acount-field__form", autofocus: true, autocomplete: "email" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="acount-field">
          <%= f.label :current_password, class: "acount-field__label" %><br />
          <%= f.password_field :current_password, class: "acount-field__form", autocomplete: "current-password" %>
        </div>

        <div class="acount-field">
          <%= f.label :password, class: "acount-field__label" %>(新しいパスワード)<br />
          <%= f.password_field :password, class: "acount-field__form", autocomplete: "new-password", placeholder: "#{@minimum_password_length}文字以上 " %>
        </div>

        <div class="acount-field">
          <%= f.label :password_confirmation, class: "acount-field__label" %>(新しいパスワード)<br />
          <%= f.password_field :password_confirmation, class: "acount-field__form acount-field__form--bottom", autocomplete: "new-password" %>
        </div>

        <div class="acount-actions">
          <%= f.submit "編集", class: "acount-actions__btn"%>
        </div>
      </div>
    <% end %>

    <div class="form-box">
      <p>アカウントの削除 <%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "本当に削除しますか?" }, method: :delete %></p>
    </div>
  </div>
</div>
